body
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: radial-gradient(#805b2a6c, rgba(33, 18, 163, 0.637));
}


header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 50px 20vw;
    font-family: Arial;
   
}


.salmon{
    background:#e09370;
}


section.about
{
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #4285F4;
    color: rgba(117, 78, 60, 0.637);
    /*filter: drop-shadow(0 0 0.75rem black);
    */display: flex;
}


section.about p
{
    font-weight: bold;
}


div.aboutme
{
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    background-color: #364bc7;
    border-radius: 20px;
}


.link{
    color:black;
}


.link:hover{
    color: rgb(255, 255, 255);
}
.mypicture
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h2.projects
{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 32px;
   
}


section.projects
{
    padding: 15px;
    padding-top: 0px;
    display: flex;
}


section.projects div
{
    border: solid;
    border-radius: 5px;
    padding: 15px;
    margin-right: 15px;
}


footer.findme
{
    text-align: center;
    padding: 25px;
}


button
{
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #c47b0d;
}
